<ion-view title="Registrarse">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" class="has-header">
        <form name="formCliente">
            <div class="list list-inset">
                <label class="item item-input input-bottom">
                    <i class="icon ion-card placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Identificación:</span>
                    <input type="number" name="docuento" ng-model="vm.usuario.identificacion" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-person placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Nombre:</span>
                    <input type="text" name="nombre" ng-model="vm.usuario.nombre" ng-required="true"  autocapitalize=words>
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-email placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Correo:</span>
                    <input type="email" name="correo" ng-model="vm.usuario.email" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-key placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Contraseña:</span>
                    <input type="password" name="contrasena" ng-model="vm.usuario.password" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-key placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Confirmar Contraseña:</span>
                    <input type="password" name="confirmarContrasena" ng-model="vm.usuario.confirmarContrasena"
                           ng-required="true">
                </label>

                <button class="button button-block button-positive"
                        ng-click="vm.registarCliente()" ng-disabled="formCliente.$invalid">
                        Registrar
                </button>
                <span class="text-center positive" ng-show="vm.mostrarAdvertencia">Las contraseñas no coinciden</span>
            </div>
        </form>
    </ion-content>
</ion-view>
