<ion-view title="Solicitar Vehiculo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form name="formSolicitud" class="list">
            <!--ciudad destino-->
            <h4 class="padding-left">Seleccione su ciudad de destino</h4>
            <label class="item item-input">
                <!--<input type="text" name="direccion" ng-model="vm.usuario.direccion" ng-required="true">-->
                <select-box ng-Selected-Value="selectedValue"
                            ng-Item-Name="nombre_ciudad"
                            ng-Item-Id="ruta_id"
                            ng-header-class="bar-positive"
                            ng-data="vm.ciudades"
                            ng-placeholder="no seleccionada"
                            ng-select-changed="vm.loadCupos(selectedValue)">
                </select-box>
                <input ng-hide="true" type="text" ng-model="vm.solicitud.ruta_id" ng-required="true">
            </label>
            <div class="card positive-bg row" ng-if="vm.cupos_disponibles && !vm.sin_cupos">
                <div class="item row">
                    <span class="col col-90 item-text-wrap">
                        {{vm.n_conductores_ruta}} vehículos disponibles.<br>
                        Quedan {{vm.cupos_disponibles}} cupos para el siguiente viaje
                        <span ng-show="vm.cupos_disponibles_siguiente && vm.cupos_disponibles_siguiente > 0">
                            y {{vm.cupos_disponibles_siguiente}} cupos para el siguiente a este.
                        </span>
                    </span>
                    <a ui-sref="app.datos_conductor({conductor_id: vm.conductor_id})"
                       class="button-icon button button-clear button-positive col col-center row-no-padding">
                        <i class="icon ion-android-car"></i>
                    </a>
                </div>
            </div>
            <div class="card positive-bg row" ng-if="vm.sin_cupos">
                <div class="item row">
                    <span class="col col-90 item-text-wrap">
                        No hay vehículos disponibles, por favor intente más tarde
                        o comuníquese directamente con la empresa
                    </span>
                    <a class="button-icon button button-clear button-positive col col-center row-no-padding"
                        ng-click="vm.loadCupos(selectedValue)">
                        <i class="icon ion-refresh"></i>
                    </a>
                </div>
            </div>
            <div class="spacer" style="height: 10px;"></div>
            <!--direccion-->
            <div class="row row-no-padding">
                <div class="col col-80 no-padding">
                    <h4 class="padding-left">Donde sera recojido</h4>
                </div>
                <div class="col col-20 no-padding">
                    <a ui-sref="app.solicitud_vehiculo_midireccion">
                        <button class="button button-positive icon ion-search boton-add-pasajero" type="button">
                        </button>
                    </a>
                </div>
            </div>
            <label class="item item-input item-button-right">
                <input type="search" placeholder="{{vm.location.direccion}}" readonly>
            </label>
            <div class="spacer" style="height: 15px;"></div>
            <div class="row row-no-padding">
                <div class="col col-80 no-padding"><h4 class="padding-left">Pasajeros</h4></div>
                <div class="col col-20 no-padding">
                    <button class="button button-positive icon ion-plus boton-add-pasajero"
                            ng-click="vm.showModalAddPasajero()" type="button">
                    </button>
                </div>
            </div>
            <!--pasajeros-->
            <div class="list">
                <div class="item item-button-right" style="padding: 16px 16px"
                     ng-repeat="pasajero in vm.solicitud.pasajeros">
                    {{pasajero.nombre}}
                    <button class="button button-positive button-clear" type="button" ng-click="vm.showModalEditPasajero(pasajero, $index)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row row-bottom">
            <button class="button button-block button-positive col"
                    ng-click="vm.enviarSolicitud()" ng-disabled="formSolicitud.$invalid || vm.sin_cupos">
                Enviar Solicitud
            </button>
        </div>
    </ion-content>
</ion-view>
