<ion-view title="Empresas">
    <ion-content overflow-scroll="true" class="has-header padding center">
        <ion-list ><br>
            <div style="margin-right: 15px; margin-left: 15px;margin-top: 10px;background-color: #ededed; border-radius: 25px" ng-repeat="empresa in empresas">
                <div class="padding" >
                    <div class="row s12" >
                        <div class="col s6">
                            <img ng-click="showServiciosEmpresa(empresa)" ng-src="http://{{empresa.logo}}" style="border-radius: 50%; width: 110px; height: 110px">
                        </div>
                        <div class="col s6">
                            <h2> </h2>
                            <h2 style="font-size: 20px" ng-click="showServiciosEmpresa(empresa)">{{empresa.nombre}}</h2>
                            <p  style="font-size: 15px"ng-click="showServiciosEmpresa(empresa)">{{empresa.direccion}}</p>
                            <p  style="font-size: 15px"ng-click="showServiciosEmpresa(empresa)">{{empresa.telefono}}</p><br>
                        </div>
                    </div>
                    <div class="row s12 center">
                        <div style="width: 100%; border-radius: 25px; background-color: #d50002">
                            <p><a style="padding-bottom: 10px; color: white" ui-sref="app.empresa_detalles({empresa_id: '{{empresa.id}}'})">Detalles</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>