<ion-view view-title="Servicios">
    <ion-content overflow-scroll="true" padding="true" class="has-header padding center">
        <div ng-if="vm.pasajeros" class="card-services card">
            <a class="item item-text-wrap center" ui-sref="app.solicitud.vehiculo({empresa_id: vm.empresa.id})">
                <i style="color: grey; font-size: 100px" class="icon ion-person icon-size"></i>
                <div style="width: 90%; border-radius: 25px; background-color: #d50002; height: 100%">
                    <h2 style="color: white">Solicitar vehiculo</h2>
                </div>
            </a>
        </div>
        <div ng-if="vm.encomiendas"  class="card-services card" ui-sref="app.solicitud_paquete({empresa_id: vm.empresa.id})">
            <div class="item item-text-wrap center">
                <i style="color: grey; font-size: 100px" class="icon ion-email icon-size"></i>
                <div style="width: 90%; border-radius: 25px; background-color: #d50002; height: 100%">
                    <h2 style="color: white">Encomiendas</h2>
                </div>
            </div>
        </div>
        <div  ng-if="vm.giros"  class="card-services card" ui-sref="app.solicitud_giro({empresa_id: vm.empresa.id})">
            <div class="item item-text-wrap center">
                <i style="color: grey; font-size: 100px" class="icon ion-social-usd icon-size"></i>
                <div style="width: 90%; border-radius: 25px; background-color: #d50002; height: 100%">
                    <h2 style="color: white">Giros</h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
