<ion-view view-title="Servicios">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card" ng-click="loadService('Pasajeros')">
            <div class="item item-text-wrap center">
                <i class="icon ion-person icon-size"></i>
                <h2>Solicitar Vehiculo</h2>
            </div>
        </div>
        <div class="card" ng-click="loadService('Pasajeros')">
            <div class="item item-text-wrap center">
                <i class="icon ion-email icon-size"></i>
                <h2>Encomiendas</h2>
            </div>
        </div>
        <div class="card" ng-click="loadService('Pasajeros')">
            <div class="item item-text-wrap center">
                <i class="icon ion-social-usd icon-size"></i>
                <h2>Giros</h2>
            </div>
        </div>
    </ion-content>
</ion-view>