<div class="spacer" style="height: 10px;"></div>
<!--remitente-->
<h4 class="padding-left">Informacion destinatario</h4>
<label class="item item-input input-bottom">
    <i class="icon ion-card placeholder-icon"></i>
    &nbsp;
    <span class="input-label">Identificacion:</span>
    <input type="text" name="direccion" ng-model="vm.solicitud.detalles.identificacion" required>
</label>
<label class="item item-input input-bottom">
    <i class="icon ion-person placeholder-icon"></i>
    &nbsp;
    <span class="input-label">Nombre:</span>
    <input type="text" name="direccion" ng-model="vm.solicitud.detalles.destinatario" required>
</label>
<label class="item item-input input-bottom">
    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
    &nbsp;
    <span class="input-label">Telefono:</span>
    <input type="text" name="direccion" ng-model="vm.solicitud.detalles.telefono" required>
</label>
<label class="item item-input input-bottom">
    <i class="icon ion-android-pin placeholder-icon"></i>
    &nbsp;
    <span class="input-label">Dirección:</span>
    <input type="text" name="direccion" ng-model="vm.solicitud.detalles.direccion" required>
</label>

<div ng-if="vm.paquete">
    <h4 class="padding-left">Descripcion paquete</h4>
    <label class="item item-input">
        <textarea ng-model="solicitud.detalles.descripcion"
                  placeholder="Escriba una descripción corta del paquete"
                  required>
        </textarea>
    </label>
</div>

<div ng-if="vm.giro">
    <h4 class="padding-left">Monto</h4>
    <label class="item item-input">
        <i class="icon ion-social-usd placeholder-icon"></i>
        <input type="number" ng-model="solicitud.detalles.descripcion" required>
    </label>
</div>
<div class="spacer" style="height: 15px;"></div>