<ion-view title="Su ubicacion">
    <ion-content class="map-container" scroll="false">
        <ui-gmap-google-map
                center="vm.map.center"
                zoom="vm.map.zoom"
                draggable="true"
                control="vm.map.control"
                options="vm.map.options"
                events="vm.map.events">
            <ui-gmap-marker
                    idkey="vm.marker.id"
                    coords="vm.marker.coords"
                    options="vm.marker.options">
            </ui-gmap-marker>
            <!--macardor centro-->
            <ui-gmap-map-control
                    template="controlCenterMarquer.tpl.html"
                    position="CENTER"
                    controller="direccionCtrl as vm">
            </ui-gmap-map-control>
            <!--posicion actul-->
            <ui-gmap-map-control
                    template="buttonLocate.tpl.html"
                    position="bottom-right"
                    index="1"
                    controller="direccionCtrl as vm">
            </ui-gmap-map-control>
            <!--direccion-->
            <ui-gmap-map-control
                    template="direccion.tpl.html"
                    position="top-center"
                    index="1"
                    controller="direccionCtrl as vm">
            </ui-gmap-map-control>
        </ui-gmap-google-map>
        <!--aceptar-->
        <div class="button-aceptar-control-gm">
            <button class="button button-positive button-full"
                    ng-click="vm.confirmarUbicacion()">
                Estoy Aquí
            </button>
        </div>
    </ion-content>
</ion-view>
<script type="text/ng-template" id="control.tpl.html">

</script>
<script type="text/ng-template" id="controlCenterMarquer.tpl.html">
    <div class="icon-marker-center">
        <i class="icon ion-location positive"></i>
    </div>
</script>
<script type="text/ng-template" id="buttonLocate.tpl.html">
    <button class="button button-small button-control-gm locate"
            ng-click="vm.goCurentPos()">
        <i class="icon ion-android-locate"></i>
    </button>
</script>
<script type="text/ng-template" id="direccion.tpl.html">
    <div class="control-direccion">
        <div class="card row">
            <label class="item-input item-icon-left col-90" id="direccion">
                <i class="icon ion-location positive" style="font-size: 22px"></i>
                <input type="text" ng-model="vm.location.direccion">
            </label>
            <div ng-controller="direccionesFavoritasCtrl as vm">
                <button class="button button-clear button-positive"
                        ng-click="vm.showfavoritas()">
                    <i class="icon ion-star"></i>
                </button>
            </div>
        </div>
        <div id="ciudad">
            <span>{{vm.location.fullnameCiudad}}</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="buttonAceptar.tpl.html">
    <div class="button-aceptar-control-gm">
        <button class="button button-positive button-full"
                ng-click="vm.confirmarUbicacion()">
            Estoy Aquí
        </button>
    </div>
</script>
